workflows/gerar-questoes-resumo.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "gerar-questoes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e14aacb1-d886-43b6-b16f-792db6032f67",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "webhookId": "944ea8bb-b3e2-4966-959a-b4d270740abc"
    },
    {
      "parameters": {
        "jsCode": "// Extrair os dados de entrada enviados pelo Electron\nconst textoExtraido = $input.first().json.textoExtraido;\nconst fileName = $input.first().json.fileName;\nconst fileId = $input.first().json.fileId;\n\n// Truncar texto se necessário (pois JSON não pode ser muito grande)\nlet textoTratado = textoExtraido;\nif (textoExtraido && textoExtraido.toString().length > 12000) {\n  textoTratado = textoExtraido.toString().substring(0, 12000) + '...';\n}\n\nreturn {\n  textoParaAnalise: textoTratado,\n  fileName: fileName,\n  fileId: fileId\n};"
      },
      "id": "96a39aa3-b441-4e20-bcdd-f44b45ad3f19",
      "name": "Preparar Dados",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        0
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Você é um especialista em educação inclusiva e acessibilidade. Analise o texto a seguir e crie:\n\n1. Um resumo conciso (máximo 1 página) destacando os pontos principais do conteúdo, organizado por tópicos, com linguagem simples e direta.\n\n2. Um conjunto de 10 questões de múltipla escolha sobre o conteúdo apresentado, seguindo estas diretrizes:\n   - Cada questão deve ter 4 alternativas (a, b, c, d)\n   - Uma alternativa deve ser a correta (indique a resposta correta após cada questão)\n   - As perguntas devem variar em termos de dificuldade\n   - Foco em compreensão conceitual, não apenas memorização\n\nFormate sua resposta da seguinte maneira:\n\n## RESUMO\n- Ponto 1...\n- Ponto 2...\n- ...\n\n## QUESTÕES\n1. Pergunta 1?\n   a) Alternativa A\n   b) Alternativa B\n   c) Alternativa C\n   d) Alternativa D\n   Resposta correta: X\n\n2. Pergunta 2?\n   ...\n\nUse linguagem simples, clara e acessível, apropriada para estudantes com diferentes necessidades de aprendizagem.\n\nTEXTO PARA ANÁLISE:\n{{$node[\"Preparar Dados\"].json[\"textoParaAnalise\"]}}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        400,
        0
      ],
      "id": "f7e35f97-87b1-44d8-9dae-328d72cb4b3f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        200
      ],
      "id": "c41ad2e9-9a95-4308-ab23-dddceb419f4a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "POFWUvpVJHkstIgT",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Pegar a resposta do AI Agent\nconst conteudoGPT = $input.first().json.output;\nconst fileName = $input.first().json.fileName;\nconst fileId = $input.first().json.fileId;\n\n// Construir a resposta para a aplicação Electron\nreturn {\n  conteudoGerado: conteudoGPT,\n  status: \"completed\",\n  fileName: fileName,\n  fileId: fileId,\n  message: \"Conteúdo gerado com sucesso, aguardando processamento no sistema\"\n};"
      },
      "id": "6320d4e1-6c39-4448-8eae-3079921f3927",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        600,
        0
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "724fdaad-293d-4e4c-987d-d7e0c5a13ece",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        800,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Preparar Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Dados": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9da6405996fea89e820c9e7b06e938406d43620d2eb195e4778f5ba9af0a69fa"
  }
}