workflows/upload-questoes.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "upload-questoes",
        "responseMode": "responseNode",
        "options": {
          "binaryData": true
        }
      },
      "id": "91f081c9-586c-47d1-9786-64246d19aaa5",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-200, 420],
      "webhookId": "a44ea8bb-b3e2-4966-959a-b4d270740aaa"
    },
    {
      "parameters": {
        "keepBinaryFile": true,
        "options": {}
      },
      "id": "e9b5a3cc-e3c7-4073-a885-90206a29aaaf",
      "name": "Manter Dados Binários",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [0, 420]
    },
    {
      "parameters": {
        "name": "={{ $json.fileName || 'questoes_resumo.docx' }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1tMfBxxtYlC0zs23gChDeXIq8WqahGkn3",
          "mode": "id"
        },
        "options": {}
      },
      "id": "dbe0bb89-0a46-4240-9615-0a74ba44aaa8",
      "name": "Upload para o Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [200, 420],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "OCGIPFaShzsruM57",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// O Google Drive retorna dados sobre o arquivo salvo\nconst driveFileData = $input.first().json;\n\n// Extrair o fileId dos parâmetros ou do body\nconst fileId = $node['Webhook'].json.fileId;\n\n// Construir a resposta para a aplicação Electron\nreturn {\n  url: `https://drive.google.com/file/d/${driveFileData.id}/view`,\n  questoesLink: `https://drive.google.com/uc?export=download&id=${driveFileData.id}`,\n  status: \"completed\",\n  fileName: driveFileData.name,\n  fileId: fileId,\n  message: \"Arquivo de questões e resumo enviado com sucesso\",\n  driveId: driveFileData.id,\n  // Metadata adicional que pode ser útil\n  mimeType: driveFileData.mimeType,\n  size: driveFileData.size\n};"
      },
      "id": "69b5a3cc-e3c7-4073-a885-90206a29aaae",
      "name": "Preparar Resposta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [400, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "84978de5-f2d7-4175-8f09-0d609d5aaaac",
      "name": "Responder com URL do DOCX",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Manter Dados Binários",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manter Dados Binários": {
      "main": [
        [
          {
            "node": "Upload para o Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload para o Drive": {
      "main": [
        [
          {
            "node": "Preparar Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Resposta": {
      "main": [
        [
          {
            "node": "Responder com URL do DOCX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9da6405996fea89e820c9e7b06e938406d43620d2eb195e4778f5ba9af0a69fa"
  }
}